body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 400px; /* Adjusted width */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%; /* Consistent width */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.radio-group {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Consistent width */
  margin: 10px 0;
}

.input-radio {
  margin-right: 5px;
}

.radio-group label {
  font-size: 16px;
  margin: 0 10px;
}

.submit-button {
  width: 100%; /* Consistent width */
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.submit-button:hover {
  background-color: #45a049;
}
